body{
    background-color: black;
}
.catagory{
    color: white;
    font-family: 'Times New Roman', Verdana, Sans-Serif, Helvetica, Arial;
    font-weight: 500 bold;
    font-size: 20px;
}
.link{
    color: white;
    font-family: Verdana, Sans-Serif, Helvetica, Arial;
    font-weight: 300 lighter;
    font-size: 24px;
}

/* Contents */
#htmlGames{
    display: none;
}